In [26]:
import pandas as pd
import numpy as np

In [3]:
node0 = pd.read_excel('./data/node0.xlsx')
node1 = pd.read_excel('./data/node1.xlsx')
node2 = pd.read_excel('./data/node2.xlsx')
node3 = pd.read_excel('./data/node3.xlsx')
node4 = pd.read_excel('./data/node4.xlsx')
print(node0.shape)
print(node1.shape)
print(node2.shape)
print(node3.shape)
print(node4.shape)

(120, 6)
(120, 6)
(120, 6)
(120, 6)
(120, 6)

In [4]:
node0.head()

               일시   교차로명    동    서    남    북
0  2023-04-24 00시  간석오거리  173  165  236  234
1  2023-04-24 01시  간석오거리  136  120  211  179
2  2023-04-24 02시  간석오거리  131   89  145  144
3  2023-04-24 03시  간석오거리  104  106  162  146
4  2023-04-24 04시  간석오거리  143  134  200  251

In [40]:
data = pd.DataFrame()
data = pd.concat([data, node0['일시']], axis=1)
data = pd.concat([data, node0['남']], axis=1) # r1_0_1
data = pd.concat([data, node1['북']], axis=1) # r1_1_0
data = pd.concat([data, node1['남']], axis=1) # r2_1_2
data = pd.concat([data, node2['북']], axis=1) # r2_2_1
data = pd.concat([data, node2['동']], axis=1) # r3_2_3
data = pd.concat([data, node3['서']], axis=1) # r3_3_2
data = pd.concat([data, node3['북']], axis=1) # r4_3_4
data = pd.concat([data, node4['남']], axis=1) # r4_4_3
data = pd.concat([data, node4['서']], axis=1) # r5_4_1
data = pd.concat([data, node1['동']], axis=1) # r5_1_4

data.columns = range(data.shape[1])

In [41]:
data.loc[:, 1:10] = data.loc[:, 1:10].replace(',', '', regex=True).astype(int)

c:\Users\FILab\anaconda3\lib\site-packages\pandas\core\indexing.py:2120: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  new_ix = Index(new_ix)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       120 non-null    object
 1   1       120 non-null    int32
 2   2       120 non-null    int32
 3   3       120 non-null    int32
 4   4       120 non-null    int32
 5   5       120 non-null    int32
 6   6       120 non-null    int32
 7   7       120 non-null    int32
 8   8       120 non-null    int32
 9   9       120 non-null    int32
 10  10      120 non-null    int32
dtypes: int32(10), object(1)
memory usage: 6.6+ KB

In [43]:
data.to_excel('./data/data.xlsx', encoding='utf-8')

In [44]:
e_T = data.iloc[56,:]

In [45]:
e_T.values[1:]

array([1005, 1553, 1180, 1682, 1911, 1424, 1628, 1494, 1084, 1454],
      dtype=object)

In [46]:
data = data.drop(56)
data.shape

(119, 11)

In [47]:
56.in(list(data.index))

False