In [1]:
from optimizer4 import solve
from BRL2 import *

In [2]:
len(all_shortest_paths)

72

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_excel('./data/data.xlsx', index_col=0)
data.head()

               0    1    2    3    4    5    6    7    8    9    10
0  2023-04-24 00시  236  251  253  254  265  279  261  279  140  183
1  2023-04-24 01시  211  190  164  192  184  241  208  243  126  138
2  2023-04-24 02시  145  161  115  200  152  184  151  173   83   94
3  2023-04-24 03시  162  170  105  185  119  152  196  141   59   86
4  2023-04-24 04시  200  299  151   47  181  289  362  207  135  169

In [5]:
tests = data.iloc[:,1:].values
tests

array([[ 236,  251,  253, ...,  279,  140,  183],
       [ 211,  190,  164, ...,  243,  126,  138],
       [ 145,  161,  115, ...,  173,   83,   94],
       ...,
       [ 845,  799, 1163, ..., 1144,  534,  607],
       [ 682,  659,  956, ...,  938,  449,  489],
       [ 429,  452,  555, ...,  600,  347,  355]])

In [6]:
solution = solve(e_T=tests[56])
x = np.zeros(66)
for i in solution:
    x[i] = solution[i]

In [7]:
get_ratio_matrix(x)

array([[ 0.  ,  0.  ,  0.  ,  2.72, 26.02, 47.38, 21.36,  2.52],
       [ 0.  ,  0.  ,  1.77,  2.47,  9.36, 41.87, 23.32, 21.2 ],
       [ 0.56,  7.55,  0.  ,  6.75, 12.93, 32.13, 25.06, 15.02],
       [ 6.66, 13.46, 12.5 ,  0.  ,  8.14,  0.15, 25.67, 33.43],
       [54.29, 45.71,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ],
       [24.5 , 13.18,  7.33,  4.66, 12.81,  0.  , 21.61, 15.91],
       [14.43,  5.57, 10.27, 10.82, 29.29, 22.62,  0.  ,  6.99],
       [ 0.  , 25.49,  8.17, 37.74,  7.39, 21.21,  0.  ,  0.  ]])