In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.read_excel('./output_volume_aug.xlsx')

In [3]:
a

,R109,R106,R104,R99,R91,R81,R48,R39,R38,R37,...,R28,R6,R23,R15,R49,R40,R14,R21,R72,R66
0,431,301,167,316,165,158,90,88,232,328,...,118,300,308,314,92,98,318,312,246,141
1,295,214,96,224,108,103,59,59,161,262,...,108,243,240,251,59,70,250,246,164,90
2,212,168,88,152,93,93,50,49,128,179,...,71,167,164,171,49,58,173,161,130,83
3,152,245,136,114,71,68,38,36,134,176,...,82,139,141,139,39,45,137,139,91,58
4,253,399,236,190,159,161,87,88,312,298,...,141,219,223,216,88,112,222,229,171,136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1603,1399,701,1165,763,738,434,437,1233,1831,...,1272,2452,2447,2550,427,531,2579,2438,1810,591
116,1622,1193,653,1158,700,673,346,350,867,1798,...,1048,1873,1872,1939,362,417,1959,1946,1551,565
117,1494,1043,573,1124,531,527,264,252,774,1477,...,744,1353,1360,1403,274,316,1431,1364,1321,477
118,1302,825,480,983,451,438,247,245,648,1323,...,463,1282,1266,1304,253,295,1282,1324,1046,401
119,892,542,320,677,319,306,178,182,449,873,...,298,845,839,866,183,229,894,874,514,260

In [6]:
temp = (a.iloc[:,-6:]*1.5).astype(int)

In [7]:
a.iloc[:,-6:] = temp

In [9]:
a.to_excel('./output_volume_aug.xlsx', index=0)